{%  extends 'base.html' %}
{% load staticfiles %}
{%  block content %}
<div id="index">
                <h2><span style="font-weight:bold; font-size:26px; font-family:맑은 고딕;">&nbsp; Delusion Studio의 App Store Reivew 블로그 설명서</span></h2>
                <h3><span style="font-weight:bold; font-size:18px; font-family:맑은 고딕;">
              &emsp;       □ 카테고리 설명<br/><br/>
              &emsp; &emsp; ○ &nbsp;Reviews: App Review를 모아놓은 곳<br/><br/>
              &emsp; &emsp; ○ &nbsp;Reviews and Stars Trend: 전체 Review와 Review중 하위 Rating(1~2)의 Trend를 볼 수 있는 곳<br/><br/>
              &emsp; &emsp; ○ &nbsp;Card Trend: 다른 카드와 비교하여 Review의 하위 Rating(1~2)에 포함 된 비율이 높은 카드들을 볼 수 있는 곳<br/><br/>
              &emsp; &emsp; ○ &nbsp;Issue Trend: Price, Matching, Balance, Fair, Bur and Error와 관련된 Keyword들의 Trend를 볼 수 있는 곳<br/><br/>
              &emsp; &emsp; ○ &nbsp;Custom Word: 특정 단어의 Rating Trend와 근접 단어(전체, 하위랭크, 상위랭크)를 확인 할 수 있는 곳<br/><br/>
              &emsp;       □ 보는 방법(추천)<br/><br/>
              &emsp; &emsp;  1. Reviews and Stars Trend : Reviews Volume과 Stars Rating으로 Negative 특이점 확인<br/><br/>
              &emsp; &emsp;  2. Card Trend : 카드별 Negative 특이점 확인<br/><br/>
              &emsp; &emsp;  3. Issue Trend : 이슈별 Negative 특이점 확인<br/><br/>
              &emsp; &emsp;  4. Custom Word : 특정 단어의 Trend와 주변단어 확인<br/><br/>
              &emsp; &emsp;  5. Reviews : 특정 단어의 상세 조건 설정 후 상세 리뷰 확인<br/><br/>
              &emsp; &emsp; &emsp; ※ Patch 날짜는 각 그래프 하단에 표시되어 있으며, Value는 의미가 없음
                    </span></h3>

</div>
            <!--<pre style="white-space: pre-line;-->
                          <!--white-space: -moz-pre-wrap;-->
                          <!--white-space: -pre-wrap;-->
                          <!--white-space: -o-pre-wrap;-->
                          <!--word-wrap: break-word;-->
                          <!--padding:0px;-->
                          <!--margin:0px;-->
                          <!--font-size: 13px;-->
                          <!--font-family:맑은 고딕;">-->
{%  endblock %}