{%  extends 'base.html' %}
{% load staticfiles %}
{%  block content %}
<div id="index">
                <h2><span style="font-weight:bold; font-size:26px; font-family:맑은 고딕;">&nbsp; Delusion Studio의 App Store Reivew 블로그 설명서</span></h2>
                <h3><span style="font-weight:bold; font-size:18px; font-family:맑은 고딕;">
              &emsp;       □ 카테고리 설명<br/><br/>
              &emsp; &emsp; ○ &nbsp;Big Issue Trend: Big issue(Negative, Environment, Payments) Trend <br/><br/>
              &emsp; &emsp; ○ &nbsp;Issue Word Table: Issue word counted by date<br/><br/>
              &emsp; &emsp; ○ &nbsp;Reviews: App Reviews<br/><br/>

              &emsp;       □ 보는 방법(추천)<br/><br/>
              &emsp; &emsp;  1. Big Issue Trend: Check abnormality by date<br/><br/>
              &emsp; &emsp;  2. Issue Word Table: Check specific word by date<br/><br/>
              &emsp; &emsp;  3. Reviews : Check reviews<br/><br/>
              &emsp; &emsp; &emsp; ※ Patch 날짜는 각 그래프 하단에 표시되어 있으며, Value는 의미가 없음
                    </span></h3>

                    * 2017/08/28: shutdown 환경이슈에 포함
</div>
{%  endblock %}