{% extends 'base.html' %}
{% block content %}
    <div id="filter">
         <form method=get action="/issue_trend">{% csrf_token %}
            <tr>
                <td>
                    App:
                 <select name="app">
                    <option  value="" selected="selected">All</option>
                    <option value="ios">ios</option>
                    <option value="android">Android</option>
                </select>
                </td>
                <td>
                </td>
               <td>
                   Language:
                <select name="lang" >
                    <option  value="" selected="selected">All</option>
                    <option value="en">English</option>
                    <option value="ko">Koean</option>
                </select>
               </td>
                <td>
                    Custom Date: <input name="sta_date" size="7" type="text" id="StartDate"> - <input name="end_date" size="7" type="text" id="EndDate">
                </td>
            </tr>
                <td>
                   <button type="submit">Search</button>
                </td>
        </form>
    </div>

    <div align="center">
        <table width=80%>
            <form method=get action="/issue_table">{% csrf_token %}
            <tr>
                <td rowspan="4">
                    <embed type="image/svg+xml" src= {{ L_line|safe }} />
                    <div id="comment_i">
                        <span style="font-weight:bold; font-size:14px">
                            * Issue Word = (A Issue Word Count / Total Word Count) * 100
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                 <input name='issue' type="radio" value="neg" data-toggle="tooltip"
                        title="'Env word' + 'Pay word' +
                        complain, complaint, request, fix, work, claim, suggest, wrong, wors, worst,
                        bad, issu, disappoint, ignor, annoy, suck, fuck, motherfuck, hate, terribl,
                        horribl, anger, angri, stupid, absurd, frustrat, disgust, idiot, ridicul, screw,
                        bitch, scam, pathet, garbag, wast, delet, support, care, imposs, hell,
                        serious, bull, uninstal, worthless, rob, bias, poor, flaw, dislik, unplay,
                        rubbish, obnoxi, crap, mad, disgrac, horrend, gross, atrocious, greedi, greed,
                        futil, asap, wtf, useless, quit, abandon, problem, solv, resolv, remov,
                        confus, rip, ripoff, trash, unsatisf, stop, awful, bore, churn, stale,
                        troubl, silli, difficult, difficulti, unacceptabl, sick, piss, desperat, dumb, forc,
                        spend, spent, repeat, too, balanc, imbalanc, unbalanc, outbalanc, rebalanc, match,
                        matchmak, matchup, fair, unfair, fairli, win, lose, lopsid, nerf, overpow,
                        op, odd, rig, chanc, uneven, buff, smurf, broken, broke, close"/>Negative

                </td>
                <td height="90%" rowspan="3">
                    날짜 선택:
                    <input name="issue_date" size="10" type="text" id="IssueDate"/>
                    <button type="submit">Search</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input name='issue' type="radio" value="env" data-toggle="tooltip"
                           title="system, error, devic, account, log, login, server, load, lag, network, internet,
                            connect, disconnect, glitch, crash, hacker, hack, delay, screen, bug, unstable,
                            ban, wifi, sign, lte, latenc, ping, freez, stuck, respons, respond,
                            irrespons, batteri, wait, fail, failur, unabl, cant, cheat, cheater, elaps,
                            drain, shutdown">Environment</input>
                </td>
            </tr>
            <tr>
                <td>
                    <input name='issue' type="radio" value="pay " data-toggle="tooltip"
                           title="pay, payment, paytowin, payoff, refund, money, cash, ruby, currenc, transact,
                           price, lost, bill, fraud, IAP, purchas, inapp"/>Payments
                </td>
            </tr>
            </form>
        </table>
        </div>
    </div>

{% endblock %}