{% extends 'base.html' %}
{% block content %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load bootstrap3 %}
    <div id="search_word1">
        <form method=get action="/search">{% csrf_token %}
            <p>
                <input type=text name="q"  size=7  maxlength=20>
                <input type=submit value="Reviews by Word">
            </p>
        </form>
    </div>
    <div id="filter">
         <form method=get action="/issue_table">{% csrf_token %}
             <table align="center">
                <td>
                    <strong>Issue Word Search</strong>
                </td>
                 <td>
                    <input name='issue' type="radio" value="neg"/>Negative
                 </td>
                <td>
                    <input name='issue' type="radio" value="env"/>Environment
                </td>
                <td>
                    <input name='issue' type="radio" value="pay "/>Payments
                </td>
                 <td>
                    <input name="issue_date" size="10" type="text" id="IssueDate">
                    <button type="submit">Search by Date</button>
                </td>
            </table>

        </form>
    </div>

    <div align="center">
        <table width=60%>
            <tr>
            <td rowspan="4" bo>
        <div id="table">
            {% if table.page %}
                <div class="table-container">
            {% endif %}

            {% block table %}
            <table class="table table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
                {% block table.thead %}
                <thead>
                    <tr>
                    {% for column in table.columns %}
                        {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                        {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                {% endblock table.thead %}
                {% block table.tbody %}
                <tbody>
                    {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    {% block table.tbody.row %}
                    <tr class="{% cycle "odd" "even" %}">
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                    {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                {% endblock table.tbody %}
                {% block table.tfoot %}
                <tfoot></tfoot>
                {% endblock table.tfoot %}
            </table>
            {% endblock table %}

            {% if table.page %}
                {% block pagination %}
                   {% bootstrap_pagination table.page url=request.get_full_path %}
              {% endblock pagination %}
                </div>
            {% endif %}
        </div>
        </table>
    </div>



{% endblock %}