{% extends 'base.html' %}
{% block content %}
    <div id="filter">
         <form method=get action="/review_trend">{% csrf_token %}
                 <select name="lang" >
                <option  value="" selected="selected">Language</option>
                <option value="en">English</option>
                <option value="ko">Koean</option>
            </select>

             <select name="app">
                <option  value="" selected="selected">App</option>
                <option value="ios">ios</option>
                <option value="android">Android</option>
            </select>

             <select name="version" >
                <option  value="" selected="selected">Version</option>
                {% for ver in version%}
                 <option value="{{ver.version}}">{{ver.version}}</option>
                {% endfor %}
            </select>

{#             <select name="rating">#}
{#                <option  value="" selected="selected">Stars</option>#}
{#                <option value="1">1 Star</option>#}
{#                <option value="2">2 Star</option>#}
{#                <option value="3">3 Star</option>#}
{#                <option value="4">4 Star</option>#}
{#                <option value="5">5 Star</option>#}
{#            </select>#}

             <select name="days">
                <option  value="" selected="selected">Days</option>
                <option value="7d">Last 7 Days</option>
                <option value="14d">Last 14 Days</option>
                <option value="1m">Last 30 Days</option>
                <option value="3m">Last 90 Days</option>
                <option value="6m">Last 180 Days</option>
                <option value="1y">Last 365 Days</option>
                <option value="custom_days">Custom</option>
            </select>
          <button type="submit">Search</button>
        </form>
    </div>
    <div id="trend" align="center">
            <embed width="30%" type="image/svg+xml" src= {{ R_line|safe }} />
            <embed width="30%" type="image/svg+xml" src= {{ S_line|safe }} />
    </div>
    <div id="trend" align="center">>
            <embed width="30%" type="image/svg+xml" src= {{ SC_line|safe }} />
            <embed width="30%" type="image/svg+xml" src= {{ SR_bar|safe }} />
    </div>

{% endblock %}