{% extends 'base.html' %}
{%  block content %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load bootstrap3 %}
    <div id="filter">
        <table align="center">
         <form method=get action="/simple_list">{% csrf_token %}
            <tr>
               <td>
                <select name="lang" >
                    <option  value="" selected="selected">All Language</option>
                    <option value="en">English</option>
                    <option value="ko">Koean</option>
                </select>
               </td>
                <td>
                 <select name="app">
                    <option  value="" selected="selected">All App</option>
                    <option value="ios">ios</option>
                    <option value="android">Android</option>
                </select>
                </td>
                <td>
                 <select name="version" >
                    <option  value="" selected="selected">All Version</option>
                    {% for ver in version%}
                     <option value="{{ver.version}}">{{ver.version}}</option>
                    {% endfor %}
                </select>
                </td>
                <td>
                     <select name="days">
                        <option  value="" selected="selected">All Days</option>
                        <option value="7d">Last 7 Days</option>
                        <option value="14d">Last 14 Days</option>
                        <option value="1m">Last 30 Days</option>
                        <option value="3m">Last 90 Days</option>
                        <option value="6m">Last 180 Days</option>
                        <option value="1y">Last 365 Days</option>
                        <option value="custom_days">Custom</option>
                    </select>
                </td>
                <td>
                   <input type=text name="q" size=8  maxlength=15>
                </td>
                <td>
                   <button type="submit">Search</button>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="4">
                    <div id="checkbox">
                    <table>
                        <td>
                            Star Rating ★
                        </td>
                         <td>
                            <input name='1s' type="checkbox" value="1">1 Star</input>
                         </td>
                        <td>
                            <input name='2s' type="checkbox" value="2">2 Star</input>
                        </td>
                        <td>
                            <input name='3s' type="checkbox" value="3">3 Star</input>
                        </td>
                        <td>
                            <input name='4s' type="checkbox" value="4">4 Star</input>
                        </td>
                        <td>
                            <input name='5s' type="checkbox" value="5">5 Star</input>
                        </td>
                    </table>
                        </div>
                </td>
            </tr>
        </form>
        </table>
    </div>

        <div id="table">
            {% if table.page %}
                <div class="table-container">
            {% endif %}

            {% block table %}
            <table class="table table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
                {% block table.thead %}
                <thead>
                    <tr>
                    {% for column in table.columns %}
                        {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                        {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                {% endblock table.thead %}
                {% block table.tbody %}
                <tbody>
                    {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    {% block table.tbody.row %}
                    <tr class="{% cycle "odd" "even" %}">
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                    {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                {% endblock table.tbody %}
                {% block table.tfoot %}
                <tfoot></tfoot>
                {% endblock table.tfoot %}
            </table>
            {% endblock table %}

            {% if table.page %}
                {% block pagination %}
                   {% bootstrap_pagination table.page url=request.get_full_path %}
              {% endblock pagination %}
                </div>
            {% endif %}
        </div>


{%  endblock %}