    {% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
        <div id="filter">
         <form method=get action="/word_2_vec">{% csrf_token %}
                 <select name="lang" >
                <option  value="" selected="selected">Language</option>
                <option value="en">English</option>
                <option value="ko">Koean</option>
            </select>

             <select name="app">
                <option  value="" selected="selected">App</option>
                <option value="ios">ios</option>
                <option value="android">Android</option>
            </select>

             <select name="version" >
                <option  value="" selected="selected">Version</option>
                {% for ver in version%}
                 <option value="{{ver.version}}">{{ver.version}}</option>
                {% endfor %}
            </select>


             <select name="days">
                <option  value="" selected="selected">Days</option>
                <option value="7d">Last 7 Days</option>
                <option value="14d">Last 14 Days</option>
                <option value="1m">Last 1 Month</option>
                <option value="3m">Last 3 Month</option>
                <option value="6m">Last 6 Month</option>
                <option value="1y">Last 1 Year</option>
                <option value="custom_days">Custom</option>
            </select>

             <input type=text name="q" size=8  maxlength=15>
          <button type="submit">Search</button>
        </form>
    </div>

    <div align="center">
        <table width="75%" align="center" cellspacing="50">
            <tbody >
                    <td width="60%"><embed type="image/svg+xml" src= {{ W_line|safe }} /></td>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td width="40%">
                        <table >
                            <thead>
                                <tr rowspan="3">
                                    <th>Top 20</th>
                                </tr>
                                <tr>
                                    <th>Ranking</th>
                                    <th>Total</th>
                                    <th>Positive</th>
                                    <th>Negative</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    <table align="center " border="0" cellspacing="0" cellpadding="0">
                                        {%  for i in range %}
                                        <tbody>
                                            <td>{{ i }}</td>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        {%  for word in upper_word %}
                                        <tbody>
                                            <td>{{ word }}</td>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        {%  for word in neg_upper_word %}
                                        <tbody>
                                            <td>{{ word }}</td>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        {%  for word in pos_upper_word %}
                                        <tbody>
                                            <td>{{ word }}</td>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tbody>
                         </table>
                     </td>
            </tbody>
        </table>
    </div>
{% endblock %}